
@{
    ViewBag.Title = "اندازه ها";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@using Alb.Omdehsara.UI.MVC.Areas.Admin.Models;
@using Alb.Omdehsara.Common.Product;
@model SizeViewModel
@using (Html.BeginForm("AddSize", "Size", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m=>m.Size.ID)
    <div class="form-group">
        <label for="Title" class="control-label col-sm-3 col-xs-12">نام سایز</label>
        <div class="col-xs-12 col-sm-9">
            @Html.TextBoxFor(m => m.Size.SizeName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 col-xs-10">
            <input type="submit" value="ثبت" style="width:150px;" class="btn btn-primary">
        </div>
    </div>
    <div class="form-group">
        <label for="Title" class="control-label col-sm-3 col-xs-12">لیست گروه ها</label>
        <div class="col-xs-12 col-sm-9">
            @Html.CheckBoxListFor(model =>model.PostedCategories,
                        model => model.Cateogries,
                        cat=>cat.ID,
                        cat=>cat.CategoryName,
                        model => model.SelectedCategories, MvcCheckBoxList.Model.Position.Horizontal)
        </div>
    </div>
}

<hr />
<table class="table">
    <tr>
        <th>نام رنگ</th>
        <th>کد</th>
    </tr>
@foreach (TblSize size in Model.Sizes)
{
   <tr>
       <td>@size.SizeName</td>
       <td><a class="btn btn-primary" href="@Url.Action("Index", new {Id=size.ID })">ویرایش</a></td>
       <td><a class="btn btn-danger" href="@Url.Action("Delete", new {Id=size.ID })">حذف</a></td>
   </tr>
}
</table>